/*!
 * including font (.ttf) file for as a requirements
 * But user not want to this options so user can be
 * removed this options and delete [fonts] folder
*/

@font-face {
  font-family: f-r;
  src: url(./fonts/font1.ttf);
  font-style: none;
}

@font-face {
  font-family: f-b;
  src: url(./fonts/font2.ttf);
  font-style: none;
}

:root {
  --font-sso: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  --font-abs: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji !important";
  --font-stg: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  --font-ags: "klavika-web", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif !important;
  --font-f-r: f-r !important;
  --font-f-b: f-b !important;
  --font-mns: monospace !important;
  --font-ahs: Arial, Helvetica, sans-serif !important;
  --font-vgt: Verdana, Geneva, Tahoma, sans-serif !important;
  --font-tls: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  --font-gvs: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  --font-shf: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif !important;
}
